#popup__form.popup.animate__animated.modal__window.popup--form
  .popup__overlay.close__popup
  form.send__form.form__popup.animate__animated(action="")
    .close.close__popup
      span
    input.form__popup-input(
      required,
      placeholder="Введите имя",
      type="text",
      name="name",
      )
    input.form__popup-input.telephone(
      required,
      placeholder="Введите телефон",
      type="tel",
      name="phone",
      )
    input.form__popup-input(
      required,
      placeholder="Введите e-mail",
      type="email",
      name="E-mail")
    textarea.form__popup-input.form__popup-textarea(
      name="Сообщение",
      cols="30",
      rows="10",
      placeholder="Введите текст")
    input#popup__form-submit(type="submit")
    label.form__popup-btn.btn(for="popup__form-submit") Отправить